body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

img { 
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}


ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

h1,
h2,
h3,
p  {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
}
.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  color: #ffffff;
  
 
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.button-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header-nav {
  display: flex;
  align-items: center;
  
}

.header-list {
  display: flex;
  gap: 40px;
  
}

.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;

}

.header-link.active {

  color: #404bbf;
}
.header-link.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
  position: absolute;
  bottom: -1px;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
  
  
}

.header-logo {
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 76px;
  display: block;
}

.accent-header {
  color: #2e2f42;
}

.footer-logo {
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 16px;
  display: inline-block;

}

.accent-footer {
  color: #f4f4fd;
}

.contacts {
  font-style: normal;
  
}

.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  
}

.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}



.order {
  height: 600px;
   background-color: #2e2f42;
   padding-top: 188px;
   padding-bottom: 188px;
   background-image:  url(../images/people-office.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border: 1px solid #000;
   
   
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.order-title {
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  max-width: 496px;
  padding-bottom: 48px;
 
}

.benefits {
  background-color: #ffffff;
}



.benefits-list {
  display: flex;
  gap: 24px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-item-title {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}

.benefits-item {
  flex-basis: calc((100% - 72px) / 4);
}


.benefits-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
} 


.team {
  background-color: #F4F4FD;
  padding: 120px 0p;
}


.team-main-title {
  font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
text-transform: capitalize;
margin-bottom: 72px;
}

 .all-team-card {
  list-style: none;
  display: flex;
  gap: 24px;
}

.team-card {
 align-items: center; 
 gap: 8px;
 border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.card-text {
  padding: 32px 0;
  text-align: center;

}

.team-title {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;

}

.team-text {
  line-height: 1.5;
letter-spacing: 0.02em;

}

.portfolio {
  background-color: #FFFFFF;
}

.portfolio-main-title {
  line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
font-size: 36px;
margin-bottom: 72px;

}

.all-portfolio-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  
  

}

.portfolio-text {
  padding: 32px 16px;
   border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-title {
  margin-bottom: 8px;
}


.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.footer-container {


  
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  

}
